
[
 {mongodb_pool, [
                 {global_or_local, local},
                 {pools, [
                          {mongo_test_pool, [
                                              {size, 5},
                                              {max_overflow, 5}
                                             ], [
                                                 {host, "localhost"},
                                                 {port, 27017},
                                                 {database, <<"test">>}
                                                ]}
                         ]}
                ]}
].
