%% {erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{erl_opts,[warn_export_all,
            warn_unused_import,
            {src_dirs, ["src"]}]}.

{deps_dir, "deps"}.

{sub_dirs, ["rel"]}.


{ct_dir, "test"}.

{ct_log_dir, "logs"}.

{ct_extra_params, "-name ct_mongodb_pool@127.0.0.1 -config test/app.config"}.

{ct_use_short_names, false}.

{deps, [
        {mongodb, ".*", {git, "https://github.com/comtihon/mongodb-erlang.git",{tag, "v3.0.1"}}},
        {poolboy, ".*", {git, "https://github.com/congleetea/poolboy.git", {branch, "master"}}}
]}.
